<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geeg.youdeo.subscription.mapper.SubscriptionMapper">

	<insert id="create" parameterType="com.geeg.youdeo.subscription.Subscription">
		insert into subscription(s_no, u_id, s_id) 
		values(subscription_s_no_SEQ.nextval, #{u_id}, #{s_id})
	</insert>

	<select id="findSubscriptionList" parameterType="java.lang.String" resultType="com.geeg.youdeo.subscription.Subscription">
		select * from subscription where u_id = #{u_id}
	</select>
	
	<update id="update" parameterType="com.geeg.youdeo.subscription.Subscription">
		update subscription
		set s_alram=#{s_alram}
		where s_no=#{s_no}
	</update>
	
	<delete id="remove" parameterType="java.lang.Integer">
		delete subscription where
		s_no=#{s_no}
	</delete>
	
</mapper>