<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geeg.youdeo.comment.mapper.CommentMapper">

	<insert id="create" parameterType="com.geeg.youdeo.comment.Comment">
		insert into v_comment(c_no, c_content, u_id, v_no) 
		values(v_comment_c_no_SEQ.nextval, #{c_content}, #{u_id}, #{v_no})
	</insert>

	<select id="findCommentList" parameterType="java.lang.String" resultType="com.geeg.youdeo.comment.Comment">
		select * from v_comment where v_no = #{v_no}
	</select>
	
	<update id="update" parameterType="com.geeg.youdeo.comment.Comment">
		update v_comment
		set c_content = #{c_content}
		where c_no=#{c_no}
	</update>
	
	<delete id="remove" parameterType="java.lang.Integer">
		delete v_comment where
		c_no=#{c_no}
	</delete>
	
</mapper>